<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="./index.html">
                <img src="images/logo/bmalgo.jpg" alt="Billy Mac Arena Logo" class="logo">
                Billy Mac Arena
            </a>
            <!-- Toggle Button for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="riding-lessons.html">Riding Lessons</a></li>
                            <li><a class="dropdown-item" href="equine-nutrition.html">Equine Nutritional Guidance</a></li>
                            <li><a class="dropdown-item" href="rehabilitation.html">Equine Rehabilitation</a></li>
                            <li><a class="dropdown-item" href="boarding.html">Boarding</a></li>
                            <li><a class="dropdown-item" href="travel-layover.html">Travel Layovers</a></li>
                            <li><a class="dropdown-item" href="foal-weaning.html">Foal Weaning</a></li>
                            <li><a class="dropdown-item" href="magna-wave.html">Magna Wave - PEMF</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>